*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* STRUTTURA PAGINA */
#container{
  width: 100vw;
  height: 100vh;
  background-image: url("sfondo.png");
}
header{
  width: 1300px;
  height: 400px;
  background-image: url("imgheader.jpg");
  background-size: cover;
  border: 12px solid white;
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%,0);
}
nav{
  width: 1300px;
  height: 80px;
  background-color: rgb(79, 67, 59);
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}
.containercolumn{
  width: 1300px;
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%);

}
.column{
  float: left;
  background-color: white;
}
.column1{
  width: 19%;
  height: 50px;
  margin-right: 1%;
}
.column2{
  width: 50%;
  height: 50px;
}
.column3{
  width: 29%;
  height: 50px;
  margin-left: 1%
}
.containercolumn:after{
  clear: left;
  display: table;
  content: "";
}




/* CONTENUTO HEADER */
#nomesito{
  font-size: 50px;
  color:white;
  letter-spacing: 5px;
  font-family: sans-serif;
  border: 5px solid white;
  padding: 7px;
}
header > #nomesito{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
header > i{
  color: white;
  font-size: 55px;
  position: absolute;
  top: 30%;
  left:50%;
  transform: translate(-50%,-30%);
}

/* CONTENUTO NAV */
ul{
  padding: 0;
}
ul li{
  padding: 0 15px;
  display: inline-block;
  color: #af9b8b;
  line-height: 80px;
  font-family: sans-serif;
  font-weight: bold;
  border-right: 1px groove #382c22;
}
